# Python virtual environment
.venv/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so
*.pyd

# VS Code settings
.vscode/

# Mac / Linux / Windows system files
.DS_Store
Thumbs.db
desktop.ini

# Jupyter & data
*.ipynb_checkpoints/
